<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.rmakowiecki.eventhub">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".EventHubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_API_KEY}" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity
            android:name=".ui.screen_app_features.AppFeaturesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screen_preference_categories.PreferenceActivity"
            android:label="@string/title_preferences"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.screen_events_map.EventsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screen_preference_subcategories.PreferenceDetailsActivity"
            android:parentActivityName=".ui.screen_preference_categories.PreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screen_events_map.EventsMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.screen_splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen_event_calendar.CalendarActivity"
            android:parentActivityName=".ui.screen_events_map.EventsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screen_create_event.EventCreationActivity"
            android:parentActivityName=".ui.screen_events_map.EventsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screen_user_profile.UserProfileActivity"
            android:parentActivityName=".ui.screen_events_map.EventsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${FB_LOGIN_PROTOCOL_SCHEME}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen_auth.AuthActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".background.FetchAddressIntentService"
            android:exported="false" />

    </application>

</manifest>